AWS_REGION="us-east-1"
S3_BUCKET_NAME="cloudgraph-uploads"
DYNAMO_TABLE_NAME="ImageMetadata"
AWS_LAMBDA_FUNCTION_NAME="cloudgraph-cluster-processor"
AWS_SESSION_TOKEN="your_aws_academy_token_here"
AWS_ACCESS_KEY_ID="your_aws_access_key_id"
AWS_SECRET_ACCESS_KEY="your_aws_secret_access_key"

# Amazon Cognito Configuration
COGNITO_REGION="us-east-1"
COGNITO_USER_POOL_ID="us-east-1_xxxxx"
COGNITO_APP_CLIENT_ID="xxxxxxxxx"
